<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Category:</strong>
  <%= @photo.category_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @photo.active %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
